<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/mdsd_individual/ard/Ardlers"
			class = "org.xtext.mdsd_individual.ard.ardlers.ArdlersPackage"
			genModel = "model/generated/Ardlers.genmodel" />
	</extension>
</plugin>
